/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font1);
}

/* links */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* link que há no titulo do cabeçalho */
.header a:hover {
  text-decoration: none;
}
/* imagens */
img {
  max-width: 100%;
}
