/* animacao de aparicao suave */
@keyframes aparicaoSuave {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* animação de quicar */
@keyframes quicar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* fonte poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variáveis */
:root {
  --font1: "Poppins", sans-serif;
  --bg-black: #000;
  --bg-white: #fff;
  --azulPadrao: #00a2ff;
  --azulEscuro: #064d76;
  --azulClaro: #2badf8;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font1);
}

/* html */
html {
  font-size: 16px;
}

/* body */
body {
  color: #fff;
  font-size: 1rem;
  display: grid;
  grid:
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "projects projects projects projects"
    "contact contact contact contact";
}

/* header */
.header {
  grid-area: header;
  width: 100%;
  min-height: 80px;
  background-color: var(--azulEscuro);
  padding: 1.5rem 3rem;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.header nav ul li a {
  color: #fff;
}

/* hero */
.hero {
  grid-area: hero;
  height: 90dvh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://images.pexels.com/photos/747101/pexels-photo-747101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
      no-repeat top center / cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* about */
.about {
  background: var(--azulEscuro);
  grid-area: about;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

/* itens da secao about */
.about .item-about {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

/* h2 da secao about */
.about .item-about h2 {
  font-size: clamp(1.5rem, 4vw, 4rem);
  text-align: center;
}

/* paragrafos da secao about */
.about .item-about p {
  font-size: clamp(1rem, 1.6vw, 1.5rem);
}

/* imagem da secao about */
.about .item-about.image img {
  border: 2px solid var(--azulPadrao);
  box-shadow: 1px 1px 15px var(--azulClaro);
  border-radius: 50%;
  max-width: 100%;
}

/* responsividade */
@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
  }
  .about .item-about {
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
}

/* projects */
.projects {
  grid-area: projects;
  background: #000
    url(https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
    no-repeat center center / cover fixed;
}
/* contact */
.contact {
  grid-area: contact;
}
